body{
    text-align: center;

}
#main{
    width: 80%;
    margin: auto;
}
#playButton {
    background-color: rgb(240, 134, 96);
    color: black;
    padding: 15px 30px;
    font-size: 24px;
    border: 0;
    border-radius: 10px;
    margin: 20px;
}
#playButton:hover {
    background-color: rgb(231, 141, 176);
    color: black;
    padding: 15px 30px;
    font-size: 24px;
    border: 0;
    border-radius: 10px;
    margin: 20px;
}
#dataTable {
    padding:10px;
    margin: auto;
    background-color: rgba(245, 138, 89, 0.829);
    border-radius: 25px;
}

td {
    background-color: white;
    padding: 10px;
    font-size: 16px;
}